# Dependencias
node_modules/

# Build de Tailwind
dist/output.css

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/settings.json
*.suo
*.swp
