# HOST
HOST_URL= # HOST URL

# PORT
PORT= # PORT OF DB

# DB
DB_SQL_HOST= # HOST OF DB
DB_SQL_USER= # USER OF DB
DB_SQL_PASSWORD= # PASSWORD OF DB

# JWT
JWT_SECRET= # SECRET KEYWORD FOR TOKENS
JWT_EXPIRES= # TOKEN EXPIRATION

# NODEMAILER
EMAIL_USER= # EMAIL
EMAIL_PASSWORD= # App Password

# TWILIO

# API KEYS

## OPENAI
API_OPENAI_KEY= # API KEY OF OPEN AI
API_OPENAI_MODEL= # MODEL OF THE API