# HOST
HOST_URL="http://localhost:3000"

# PORT
PORT=3000

# DB
DB_SQL_HOST=51.222.142.204
DB_SQL_USER=project_institute
DB_SQL_PASSWORD=ProjectInstitute2020

# JWT
JWT_SECRET=papayaconperaypiña
JWT_EXPIRES=24h

# NodeMailer
EMAIL_USER= #Email
EMAIL_PASSWORD= # App Password

#WHATSAPP TWILIO
TWILIO_ACCOUNT_SID= #Twilio SID
TWILIO_AUTH_TOKEN=#Twilio authentication token
TWILIO_WHATSAPP_NUMBER=#Twilio whatsapp number generated

## OPENAI
API_OPENAI_KEY= #Key for using OPEN AI
API_OPENAI_MODEL= #Open AI model used